.row {
    display: flex;
    flex-wrap: wrap;
}

.col50 {
    width: 50%;
    text-align: center;
}

.title {
    word-spacing: 2.5pt;
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 15pt;
}

.subtitle {
    color: gray;
    font-size: 14pt;
    line-height: 20pt;
}